* {
  font-family: 'Roboto';
  background-color: #484848;
  /* border: 2px solid black; */
}

a {
  text-decoration: none;
  color: #000000;
}

body {
  display: grid;
  grid-template-rows: 50px auto auto;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  grid-template-areas:
  "navigation"
  "header"
  "footer"
}

#navigation_container {
  grid-area: navigation;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 30px;
  align-items: center;
}

ul {
  list-style-type: none;
}

nav ul li {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #484848;
}

nav a {
  color: white;
}

#header_container {
  grid-area: header;
  display: grid;
  grid-template-rows: 2fr .3fr .5fr .5fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #fff7e6;
  color: #000000;
  justify-items: center;
}

#header_container img {
  margin-top: 20px;
  border-radius: 50%;
  grid-row-start: 1;
  grid-column-start: 3;
  padding: 50px;
  justify-self: center;
  align-self: center;
  background-color: #fff7e6;
}

#header_container h1 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: span 3;
  text-align: center;
  margin-top:  -20px;
  background-color: #fff7e6;
}

#header_container sub {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: span 3;
  overflow-wrap: normal;
  line-height: 1.5;
  text-align: center;
  background-color: #fff7e6;
}
